# Corona - German mortality and vaccination timeseries

## Data sources:

1. Mortality statistics for the years 2000 to 2015: [de_statis: Deutschland Sterbefälle 2000-2015](https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle-endgueltige-daten.html;jsessionid=7C42BA66C2036FF4141E5AC46AD386D5.live712?nn=209016)
2. Mortality statistics for the years 2016 to 2022 (Aug 21): [de_statis: Deutschland Sterbefälle 2016-2022 ](https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle.html)
3. Vaccination statistics from 2020 onwards: [impfdashboard.de - Daten zum Downlad](https://impfdashboard.de/daten)


rough outline of the next steps:

1. import the mortality data as a continuous week based time series beginning with the first week of 2010 as index week 1
    - import the data based on maximum granularity regarding sex and age group
    - compose aggregating views 
    - 


2. import the vaccination data as continuous week based time series
    - get acquainted with the data model
    - see from there
    

3. go and find people already doing analysis on the data, esp. 
    - go and explain this finding: [Starker statistischer Zusammenhang zwischen der Covid-19-Impfquote und der Übersterblichkeit](https://idw-online.de/de/news786629)
    - German statistics computes excess mortality as the difference between the median value for the same timeframes of the four previous years: [WHO-Studie zur Corona-Übersterblichkeit nutzt störanfällige Methode](https://www.rwi-essen.de/presse/wissenschaftskommunikation/unstatistik/detail/who-studie-zur-corona-uebersterblichkeit-nutzt-stoeranfaellige-methode)

In [36]:
# import mortality data

import pandas as pd

data = pd.read_csv('../data/deaths/sterbefaelle-2010-2022-je-woche.csv', delimiter=';')

data["total_median"] = [1 if x > 208 else 0 for x in data["week_index"]]
data["tota_excess"] = 0

data

,week_index,year,monday,total,0_30,30_35,35_40,40_45,45_50,50_55,...,60_65,65_70,70_75,75_80,80_85,85_90,90_95,gt_95,total_median,tota_excess
0,1,2010,04.01.10,17560,144,50,71,196,357,501,...,785,1292,1978,2437,3192,3386,1505,972,0,0
1,2,2010,11.01.10,17776,139,42,86,167,322,510,...,831,1376,2071,2362,3166,3423,1581,1065,0,0
2,3,2010,18.01.10,17309,167,57,81,178,307,462,...,788,1295,1947,2351,3165,3422,1471,992,0,0
3,4,2010,25.01.10,17455,159,41,100,174,308,469,...,769,1288,2052,2428,3153,3306,1549,974,0,0
4,5,2010,01.02.10,17590,153,48,88,160,307,431,...,760,1384,2057,2396,3078,3507,1516,1024,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,655,2022,18.07.22,20762,156,61,84,126,168,393,...,1139,1393,1868,2200,4094,4152,2952,1281,1,0
655,656,2022,25.07.22,20045,140,56,85,129,168,362,...,1041,1348,1749,2203,3898,4071,2806,1294,1,0
656,657,2022,01.08.22,19399,132,41,80,110,156,339,...,981,1330,1697,1965,3909,4025,2779,1206,1,0
657,658,2022,08.08.22,19486,133,51,71,137,174,376,...,992,1355,1741,2087,3763,3908,2766,1225,1,0
658,659,2022,15.08.22,19719,101,49,61,125,150,340,...,1079,1348,1711,2034,3840,3979,2919,1289,1,0

In [34]:
data["total_median"] = [data.iloc[data["index"],0] if x == 658 else 0 for x in data["index"]]
data

IndexError: positional indexers are out-of-bounds